<h2>Hãy nhập tên của bạn:</h2>

<form asp-action="Xinchao" method="post">
    <input type="text" name="fullName" placeholder="Nhập họ tên" required />
    <input type="submit" value="Gửi" />
</form>

@if (ViewBag.Name != null)
{
    <h3>@ViewBag.Name</h3>
}
